/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #ffb0eb;
    text-shadow: none;
}

::selection {
    background: #ffb0eb;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #468966;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #8e2800;
}

.footer-container,
.main aside {
    border-top: 20px solid #8e2800;
}

.header-container {
    background: #b64926;
}

.footer-container,
.main aside {
  background: #0fffff;
}

.title {
    color: #fff0a5;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav li:first-child a {
  margin-left: 0;
}

nav li:last-child a {
  margin-right: 0;
}

nav a {
    float: left;
    display: block;
    margin: 0 1.7% 10px 1.7%;
    padding: 15px 0;

    text-align: left;
    text-decoration: none;
    font-weight: bold;

    color: #fff0a5;
    background: none;
}

nav a:hover,
nav a:visited {
    /* color: white; */
}

nav a:hover {
    text-decoration: none;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

nav ul li {
    display: inline;
}

.oldie nav a {
    margin: 0 0.7%;
}

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    .title {
        display: inline-block;
        float: left;
    }

    nav {
        display: inline-block;
        float: left;
    }

    nav ul li {
      float: left;
      margin: 1em 0 1em 2em;
    }
}


@media only screen and (min-width: 768px) {

/* ============
    WIDE: Menu
   ============ */
    
    .header-container {
        height: 100%;
        width: 30%;
        position: fixed;
        top: 0;
        right: 0;
    }

    .title {
        display: block;
        float: none;
    }

    nav {
        display: block;
        float: none;
    }

    nav ul li {
        display: list-item;
        float: none;
        margin: 0;
        /* width: 100%; */
    }

    nav a {
        float: none;
        display: block;
        margin: 0 1.7%;
        padding: 15px 0;

        text-align: left;
        text-decoration: none;
        font-weight: bold;

        color: #fff0a5;
        background: none;
    }

    nav li:first-child a {
        margin: 0 1.7% 0 1.7%;
    }

    nav li:last-child a {
        margin: 0 1.7% 0 1.7%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 5%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
