# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ignore the Gemfile that is generated
Gemfile.lock

# Personal cursor rules link
/.cursor