// Color variables

main_bg = white
header_bg = main_bg
footer_bg = #313133

main_text = #222
header_text = main_text
footer_text = #ccc

footer_border = #A8F26A

selection_color = footer_border


// Styling

html,
button,
input,
select,
textarea
  color: main_text

body
  font-size: 1em
  line-height: 1.4

::-moz-selection
  background: selection_color
  text-shadow: none

::selection
  background: selection_color
  text-shadow: none

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid selection_color
  margin: 1em 0
  padding: 0

img
  vertical-align: middle

fieldset
  border: 0
  margin: 0
  padding: 0

textarea
  resize: vertical

.chromeframe
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

body
  font: 1.2em/1.95em Merriweather, serif
  background: main_bg

.wrapper
  width: 90%
  margin: 0 5%


// Colors & Fonts

.header-container
  font-family: Vollkorn, serif
  background: header_bg

  h1
    font-weight: normal

  nav ul li a
    font-weight: normal
    padding: 12px 0

.main-container
  .wrapper
    border-top: solid 1px #eee

.main-container h1
    font-size: 2.2em

.footer-container,
.main aside
  font-family: Lato, sans-serif
  font-weight: bold
  font-size: 0.7em
  line-height: 2em
  background: footer_bg
  border-top: 5px solid footer_border;

.title
  color: header_text

// Menu

.title
  margin-bottom: 0

nav ul
  margin: 0
  padding: 0

nav li:first-child a
  margin-left: 0

nav li:last-child a
  margin-right: 0

nav a
  float: left
  display: block
  margin: 0 1.7%
  padding: 15px 0
  text-align: left
  text-decoration: none
  font-weight: bold
  color: header_text
  background: none

nav a:hover,
nav a:visited
  // color: white

nav a:hover
  text-decoration: none

// Main

.main
  padding: 30px 0

// .main article h1
//   font-size: 2em

.main aside
  color: header_text
  padding: 0px 5% 10px

// Footer

.footer-container footer
  color: footer_text
  padding: 20px 0

// IE Fixes

nav ul li
  display: inline

.oldie nav a
  margin: 0 0.7%

.ie7 .title
  padding-top: 20px


@media only screen and (min-width: 500px)

  // Menu

  .title, nav ul li
    float: left

  nav
    float: right

  nav ul li
    margin: 1em 0 0 2em

@media only screen and (min-width: 750px)

  // Main

  .wrapper
    width: 700px
    margin: 0 auto


// Helper classes

.ir
  background-color: transparent
  border: 0
  overflow: hidden
  *text-indent: -9999px

.ir:before
  content: ""
  display: block
  width: 0
  height: 150%

.hidden
  display: none !important
  visibility: hidden

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  width: auto

.invisible
  visibility: hidden

.clearfix:before,
.clearfix:after
  content: " "
  display: table

.clearfix:after
  clear: both

.clearfix
  *zoom: 1


// Print styles

@media print
  *
    background: transparent !important
    color: #000 !important  // Black prints faster: h5bp.com/s
    box-shadow: none !important
    text-shadow: none !important

  a,
  a:visited
    text-decoration: underline

  a[href]:after
    content: " (" attr(href) ")"

  abbr[title]:after
    content: " (" attr(title) ")"

  // Don't show links for images, or javascript/internal links

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after
    content: ""

  pre,
  blockquote
    border: 1px solid #999
    page-break-inside: avoid

  thead
    display: table-header-group  // h5bp.com/t

  tr,
  img
    page-break-inside: avoid

  img
    max-width: 100% !important

  @page
    margin: 0.5cm

  p,
  h2,
  h3
    orphans: 3
    widows: 3

  h2,
  h3
    page-break-after: avoid

